/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins&family=Roboto&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SAMAN';
    src: url('/SAMAN.TTF');
}

html {
    @apply 2xl:text-[110%]
}


* {
    /* font-family: 'Poppins', sans-serif; */
    color: #232323;
    @apply font-sans;
}

body {
    /* background: #e5eee9; */
    /* background: red; */

    /* max-width: 2000px; */
}

@media (min-width: 2000px) {
    html {
        font-size: 120%;
    }
}


.saman {
    font-family: 'SAMAN', sans-serif;
}

li {
    list-style: none;
}


/* SHINY EFFECT for landing text (animation delay managed for that purpost)*/

.shiny_effect{
    position: relative;
    overflow: hidden;
}


.shiny_effect:after {
    content: '';
    display: block;
    pointer-events: none;
    top: -50%;
    left:0;
    /* transform: translateX(100%); */
    width:50%;
    height: 200%;
    position: absolute;
    z-index: 1;
    animation: 2s ease-in-out slide ;
    animation-delay: 2s;
    transform: rotateZ(25deg) translateX(-100%);
    opacity: .6;
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5691526610644257) 25%, rgba(255,255,255,1) 49%, rgba(255,255,255,0.4431022408963585) 75%, rgba(255,255,255,0) 100%);
   
}
@keyframes slide {
	0% {transform:translateX(-100%) rotateZ(25deg);}
	100% {transform:translateX(100%) rotateZ(25deg);}
}


/* animate_blink */
.animate_blink{
    animation: 1s linear blink infinite
}

@keyframes blink {
    0%,100%, 49%{opacity: 0}
    50%, 99%{opacity: 1}
}





.link,
.handlers li {
    cursor: pointer;
}

.link li:hover {
    color: #ed2945;
}




.b {
    font-size: xx-large;
    font-weight: 900;
    animation: infinite abc;
}

.card-collection {
    z-index: 100 !important;
}

.pphoverDiv {
    display: hidden;
}


.active {
    @apply bg-gray-900 text-white
}




.input_field_container {
    @apply flex flex-col gap-4
}

/* .input_field_container .input_field div.textarea {
    @apply flex flex-col-reverse gap-
} */

.input_field_container label {
    @apply capitalize text-gray-600 block opacity-80 text-sm font-medium font-sans mb-1;
}

.input_field_container .input_field input,
.input_field_container .input_field textarea {
    @apply bg-transparent text-gray-500 border-2 border-gray-300 hover:border-gray-400 transition duration-300 rounded py-[0.4rem] pl-3 pr-9;

}

.input_field_container .input_field input::placeholder,
.input_field_container .input_field textarea::placeholder {
    @apply text-gray-400 font-light
}

.input_field_container .input_field input:focus,
.input_field_container .input_field textarea:focus{
    @apply border-gray-500 outline-none text-gray-800;
}
.input_field_container .input_field input:focus ~ label,
.input_field_container .input_field textarea:focus ~ label{
    @apply opacity-100;
}
form .form_title {
    @apply capitalize font-extrabold text-2xl opacity-95
}

form button,
form input[type="button"] {
    @apply py-3 px-5 rounded font-semibold transition-colors duration-500  
}

.input_row{
    @apply flex;
}





/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


/* scrollbar costume  */

/* width */
.myScroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
 
  }  
  /* Track */
  .myScroll::-webkit-scrollbar-track {
    @apply bg-transparent
  }
   
  /* Handle */
  .myScroll::-webkit-scrollbar-thumb {
    @apply bg-gray-800 
  }

  /* global scrollbar  */

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
 
  }  
  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-transparent
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-800 
  }

