
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins&family=Roboto&display=swap');
  
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SAMAN';
    src: url('/SAMAN.TTF');
}


*{
    font-family: 'Poppins', sans-serif;
}
.saman{
    font-family: 'SAMAN',sans-serif;
}

li{
 list-style: none;
}

.link,.handlers li{
    cursor: pointer;
}
.link li:hover{
    color: #ed2945;
}